#include "ApplicationInsights.xcconfig"

BUILD_NUMBER = 12
VERSION_STRING = 1.0-beta.9
GCC_PREPROCESSOR_DEFINITIONS = MSAI_VERSION="@\""$(VERSION_STRING)"\"" MSAI_BUILD="@\""$(BUILD_NUMBER)"\"" MSAI_C_VERSION="\""$(VERSION_STRING)"\"" MSAI_C_BUILD="\""$(BUILD_NUMBER)"\"" $(XCODEBUILD_GCC_PREPROCESSOR_DEFINITIONS)
OTHER_CFLAGS = $(HOCKEYSDK_WARNING_FLAGS)
